.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

#body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    color:hsl(201, 11%, 66%);
    font-weight: 400;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.bg-header {
    background-image: url(images/bg-header-desktop.png);
    background-position: bottom;
    background-size: cover;
    height: 300px;
}

#hero {
   padding: 0;
   margin: 0;
}
#hero__title {
    color: hsl(210, 10%, 33%);
    font-weight: 600;
    font-size: 38px;
    padding: 0;
    margin: 0;
}

.buttons {
    flex-direction: row;
    padding-top: 20px;
}
.buttons__btn {
    color: #ffffff;
    background-color: hsl(171, 66%, 44%);
    border: 0;
    padding: 18px;
    padding-left: 38px;
    padding-right: 38px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    -webkit-box-shadow: inset -2px -5px 0px 0px #1b9f8a; 
    box-shadow: inset 0px -3px 0px 0px #1b9f8a;
}
.buttons__btn--purple {
    background-color: hsl(233, 100%, 69%);
    -webkit-box-shadow: inset -2px -5px 0px 0px #4D5CD0; 
    box-shadow: inset 0px -3px 0px 0px #4D5CD0;
}

.subtitle {
    color: hsl(210, 10%, 33%);
    font-size: 30px;
    margin: 0;
    padding: 0;
}
.intertitle {
    color: hsl(210, 10%, 33%);
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.keep {
    padding-top: 90px;
}
.keep__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    text-align: left;
    padding-top: 70px;
    margin-right: 180px;
}
.keep__intertitle {
    padding-top: 40px;
}

.access{
    padding-top: 100px;
}
.access__img {
    padding-top: 70px;
}

.tools {
    padding-top: 40px;
    font-size: 16px;
}
.tools__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: 70px;
}
.tools__middle {
    margin-left: 30px;
    margin-right: 30px;
}
.tools__img--1{
    padding-bottom: 42px;
}
.tools__img {
    padding-bottom: 50px;
}

.logos {
    padding-top: 60px;
    flex-direction: row;
    text-align: center;
}
.logos__img {
    padding: 50px;
}

.download {
    padding-top: 70px;
}